{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Настольная игра ИМАДЖИНАРИУМ</h1>

<div class="product-imgAndDesc">
    <div class="product-imgWrap">
        <a href="{% static 'img/boardgame.jpg' %}" target="_blank">
            <img class="product-img" src="{% static 'img/boardgame.jpg' %}" alt="boardgame">
        </a>
    </div>
    <div class="product-shortDescWrap">
        <h2 class="product-header">Описание:</h2>
        <p class="product-shortDescription">
            «Имаджинариум» — это очень простая и очень интересная игра, в которой нужно придумывать ассоциации к
            необычным
            картинкам из коробки. Картинки рисовали сумасшедшие художники, поэтому ассоциаций — от самых простых, вроде
            «любовь», «зима», «принципиальность», до самых сложных и безумных, в духе «Всё правильно сделал», «Где
            драма?
            Опять нет драмы!», «Чак-чак! Беги быстрее!», может быть просто море.
        </p>
        <a href="#" class="product-buyButton">Купить</a>
    </div>
</div>

<h2 class="product-header">Состав коробки:</h2>
<table class="product-composition">
    <tr>
        <td>Поле для подсчёта очков (сделанное прямо на «подиуме» на коробке).</td>
    </tr>
    <tr>
        <td>98 крупных карт с картинками.</td>
    </tr>
    <tr>
        <td>49 карточек для голосования для 7 игроков.</td>
    </tr>
    <tr>
        <td>7 летающих слонов для передвижения по полю (в зависимости от издания встречаются деревянные или
            пластиковые).
        </td>
    </tr>
    <tr>
        <td>Правила на хорошем русском языке.</td>
    </tr>
</table>

<h2 class="product-header">Правила:</h2>

<ol class="product-rules">
    <strong>Начало</strong>
    <br><br>
    <li>
        Каждый игрок выбирает себе слона и набор карточек для голосования того же цвета, что и слон. Карточек для
        голосования семь. Вам пригодится столько карточек, сколько человек играет. Если играет 6 человек, карточка
        с номером 7 вам не нужна.
    </li>
    <br>

    <strong>Определение первого хода</strong><br><br>
    <li>
        Вы должны определить, кто будет ходить первым. Вы можете использовать для этого карточки для голосования.
        Все участники берут свои карточки для голосования, перемешивают и вытягивают любую карточку наугад.
        Первым начинает ходить тот, кто вытянул карточку с наибольшим числом. Можно использовать любую другую механику
        для выбора игрока, стартующего первым. Мы, например, разыгрываем это право в шахматы. Дальше игра идет по
        часовой стрелке.
    </li>
    <br>

    <strong>Ход игры</strong>
    <br><br>
    <li>Слоны всех игроков выставляются на игровое поле на облачко 1.</li>
    <br>
    <li>Колода с карточками-иллюстрациями перемешивается и каждому игроку выдается на руки по 6 карточек.</li>
    <br>
    <li>Игрок загадывает ассоциацию.</li>
    <br>
    <li>
        Каждый ход один из игроков становится ведущим. Ведущий загадывает ассоциацию на одну из своих карточек,
        говорит эту ассоциацию вслух остальным игрокам и выкладывает на стол загаданную карточку рубашкой вверх.
    </li>
    <br>

    <strong>Угадывание карточки ведущего</strong>
    <br><br>
    <li>
        Основная задача игроков — угадать, какую именно из выложенных на столе карточек загадал ведущий, и
        проголосовать за нее. Каждый игрок выбирает одну карточку для голосования с нужным номером и кладет рубашкой
        вверх. Ведущий не голосует и не комментирует выложенные на столе картинки. Голосовать за свою собственную
        картинку нельзя. Когда все приняли решение и проголосовали, карточки для голосования переворачиваются и
        происходит подсчет очков.
    </li>
    <br>

    <strong>Подсчет очков</strong>
    <br><br>
    <li>
        Игроки передвигают свои фишки на игровом поле на количество шагов, соответствующее количеству выигранных
        очков.
    </li>
    <br>
</ol>

{% endblock %}