{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>
<body>
<div class="container">
    {% block menu %}
    <div class="header">
        <img src="{% static 'img/logo.jpg' %}" alt="logo">
        <div class="store-name">
            Барахолка "Волосатый орк" - магазин настольных игр
        </div>

        <ul class="main-menu">
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'catalog' %}">Каталог</a></li>
            <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </div>
    <hr>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
    <hr>
    <footer><div class="footer"><p>&copy; Все права защищены</p></div></footer>
    {% endblock %}
</div>

</body>
</html>
